:root {
    --hover-width: 85%;
    --hoverHover-width: 75%;
    --other-width: 25%;
    --otherOther-width: 35%;
    --speed: 900ms;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

h1 {
    font-size: 10rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}

#iui {
    color: black;
    transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out;
    pointer-events: none;
}

#uxu {
    color: white;
    transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out;
    pointer-events: none;
}

.left {
    transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out;
}

.right {
    transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0;
}

.split.left:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    /*background: var(--left-bg-color);*/
}

.split.right {
    right: 0;
    background-color: black;
}

.split.right:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
}

.hover-left .left {
    width: var(--hover-width);
}

.hover-hover-left .left {
    width: var(--hoverHover-width);
}

.hover-left .right {
    width: var(--other-width);
}

.hover-hover-left .right {
    width: var(--otherOther-width);
}

.hover-left .right:before {
    z-index: 2;
}

.hover-right .right {
    width: var(--hover-width);
}

.hover-hover-right .right {
    width: var(--hoverHover-width);
}

.hover-right .left {
    width: var(--other-width);
}

.hover-right .left:before {
    z-index: 2;
}

.header-side {
    position: absolute;
    top: 50%;
    left: 43%;
    color: orange;
    font-size: 3vw;
    z-index: 10;
    pointer-events: none;
}