.novosti {
    height: 1000px;
    width: 100%;
    background-color: rgb(26, 25, 25);
}
.video iframe:first-child {
    position: relative;
    left: 50px;
    top: 75px;
}
.video iframe:nth-child(2) {
    position: relative;
    top: 20px;
    left: 120px;
}
.novosti div {
    float: left;
    width: 900px;
    height: auto;
}
.tekst {
    position: relative;
    width: auto;
    left: 130px;
    top: 130px;
    color: aquamarine;
    font-family: Ruso;
}