@font-face {
    font-family: SF;
    src: url("./fonts/SF.otf");
}

@font-face {
    font-family: Helvetica;
    src: url("./fonts/Helvetica.ttf");
}

@font-face {
    font-family: Ruso;
    src: url("./fonts/RussoOne-Regular.ttf");
}

:root {
    --color-blue: rgba(31, 84, 184, 0.911);
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-blue);
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

header {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    user-select: none;
}

.loading{
    position:absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 100;
}

.shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20vh;
    width: 100vw;
    z-index: 40;
    background: linear-gradient(to top, rgb(0, 0, 0), transparent);
}

.logo {
    position: absolute;
    top: 5vh;
    left: 5vw;
    color: white;
    font-family: Ruso;
    text-shadow: 3px 3px #333;
    z-index: 20;
    font-size: 3vw;
    user-select: none;
    cursor: pointer;
}

.logo::after {
    content: "v.iv";
    position: absolute;
    max-width: 0vw;
    color: orange;
    left: 0;
    top: 0;
    width: 5vw;
    border-right: 3px solid orange;
    overflow: hidden;
    transition: 0.3s;
}

.logo:hover::after {
    max-width: 5vw;
    transition: 0.3s;
}

.mountain-img {
    position: absolute;
    width: 1700px;
    bottom: -10vh;
    overflow: hidden;
    z-index: 10;
}

.left-img {
    position: absolute;
    height: 50vh;
    bottom: -10vh;
    left: 0;
    overflow: hidden;
    z-index: 11;
}

.right-img {
    position: absolute;
    height: 70vh;
    bottom: -10vh;
    right: 0;
    overflow: hidden;
    z-index: 13;
}

.rightclose-img {
    position: absolute;
    height: 20vh;
    bottom: -10vh;
    right: 0;
    overflow: hidden;
    z-index: 15;
}

.sky-img {
    position: absolute;
    height: 100vh;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 9;
}

.boardguy-img {
    position: absolute;
    height: 70vh;
    top: 10vw;
    left: 30vw;
    overflow: hidden;
    z-index: 20;
    transition: transform 0.1s;
}

.top-menu {
    position: absolute;
    height: 3vh;
    width: 3vw;
    right: 2vw;
    top: 5vh;
    z-index: 22;
    cursor: pointer;
}

.menu-line {
    height: 0.30vw;
    width: 2vw;
    background-color: #333;
    border-radius: 10px;
    margin-bottom: 0.6vh;
    transition: transform 0.3s, opacity 0.3s;
}

.menu-overlay {
    position: absolute;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    z-index: 21;
    max-width: 0;
    direction: ltr;
    transition: max-width 0.4s ease-in-out;
    border-right: 8px solid orange;
}

.menu-el {
    width: 100vw;
    font-size: 4vw;
    font-family: Ruso;
    margin-left: 10vw;
    border-bottom: 4px solid black;
    cursor: pointer;
    margin-bottom: 4vh;
}
.menu-el:hover:after{
    width: 100vw;
    content: "<";
    color:orange;
}