    @import "animations.css";
    @font-face {
        font-family: SF;
        src: url("../assets/fonts/SF.otf");
    }

    @font-face {
        font-family: Pangolin;
        src: url("../assets/fonts/Pangolin-Regular.ttf");
    }

    @font-face {
        font-family: Ruso;
        src: url("../assets/fonts/RussoOne-Regular.ttf");
    }

    @font-face {
        font-family: MonsterratR;
        src: url("../assets/fonts/Montserrat-Regular.ttf");
    }

    @font-face {
        font-family: MonsterratL;
        src: url("../assets/fonts/Montserrat-Light.ttf");
    }

    @font-face {
        font-family: MonsterratB;
        src: url("../assets/fonts/Montserrat-Bold.ttf");
    }

    @font-face {
        font-family: MonsterratM;
        src: url("../assets/fonts/Montserrat-Medium.ttf");
    }

    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: whitesmoke;
    }

    ::-webkit-scrollbar-track {
        background-color: #333;
    }

    .color-m {
        color: #E3614D;
    }

    /* =========================== LANDING ================================== */

    * {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }

    header {
        position: relative;
    }

    html {
        overflow-y: hidden;
    }

    .body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .header-container {
        position: absolute;
        margin: 0;
        padding: 0;
        background: linear-gradient(to bottom, #E3614D, #EB886A);
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        z-index: 0;
    }

    .bottom-shadow {
        height: 15vh;
        width: 100vw;
        position: absolute;
        bottom: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.212), transparent, transparent);
    }

    .loading-container {
        position: relative;
        margin: 0;
        padding: 0;
        background: linear-gradient(to bottom, #E3614D, #EB886A);
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .loading-container img {
        height: 200px;
        transform-origin: center;
        animation: pulsateLogo 3s infinite;
    }

    .loading-text {
        color: whitesmoke;
        font-family: MonsterratR;
        font-weight: 300;
        font-size: 20px;
        margin: 30px 0 0 100px;
    }

    .loading-ball {
        height: 10px;
        width: 10px;
        border-radius: 100px;
        background-color: whitesmoke;
        margin: 20px 0 0 200px;
        animation: ballLoading 3s infinite;
    }

    /* ============================== HEADER =============================== */

    .header {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .header-info-container {
        margin: 15vh 0 0 5vw;
    }

    .logo-head-img {}

    .logo-head-accent-text {
        font-family: MonsterratB;
        color: white;
        font-size: 19px;
    }

    .logo-head-regular-text {
        font-family: MonsterratR;
        color: white;
        font-size: 18px;
    }

    @media only screen and (max-width: 1000px) {
        .logo-head-regular-text {
            font-size: 15px;
        }
    }

    .logo-head-light-text {
        font-family: MonsterratL;
        color: whitesmoke;
        font-size: 18px;
    }

    .logo-head-text-alignment {
        width: 40vw;
        margin: 20px 0 10px 0;
    }

    .scroll-nav {
        display: grid;
        grid-template-columns: 44px 300px;
    }

    .logo-head-scroll-alignment {
        transform-origin: right;
        position: absolute;
        right: 4vw;
        bottom: 48vh;
        transform: rotate(-90deg);
    }

    .scroll-down-i {
        color: whitesmoke;
        font-size: 30px;
        align-self: center;
    }

    .scroll-i-anim {
        margin-top: 2px;
        align-self: center;
        animation: scrollDown 3s infinite;
    }

    .download-icons {
        margin: 4vh 0 0 4vw;
    }

    .download-icon {
        position: absolute;
        margin: 0 1vw 0 1vw;
        transition: transform 0.3s;
        height: 68px;
        cursor: pointer;
    }

    @media only screen and (max-width: 1300px) {
        .download-icon {
            height: 50px;
        }
    }

    .download-icon-android {
        left: 19vw;
        z-index: 3;
    }

    @media only screen and (max-width: 1000px) {
        .download-icon {
            height: 40px;
        }
    }

    .download-icon:hover {
        transform: translateY(5px);
        transition: transform 0.3s;
    }

    .screenshot {
    }

    .head-screenshot {
        position: absolute;
        right: 15vw;
        top: 10vh;
        transition: transform 0.3s;
    }

    .screenshot-el {
        position: absolute;
        height: 45px;
        transform: scale(0);
        transition: transform 0.3s;
    }

    .screenshot-el1 {
        right: 18vw;
        top: 24vh;
        transform-origin: left;
    }

    .screenshot-el2 {
        transform-origin: right;
        right: 16vw;
        top: 31.5vh;
    }

    .screenshot-el3 {
        right: 18vw;
        top: 40vh;
        transform-origin: left;
    }

    .screenshot-el4 {
        right: 10.4vw;
        top: 47vh;
        height: 25px;
        transform-origin: center;
        width: 30vw;
    }

    .screenshot-el5 {
        transform-origin: right;
        right: 16vw;
        top: 52.5vh;
    }

    .screenshot-el6 {
        right: 18vw;
        top: 60vh;
        transform-origin: left;
    }

    .screenshot-el7 {
        transform-origin: right;
        right: 16vw;
        top: 67.5vh;
    }

    /* ============================== CREATE PROFILE =============================== */

    .create-profile-container {
        height: 55vh;
        width: 100vw;
        background-color: ghostwhite;
    }

    .create-profile-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .create-profile-img {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .profile-img-over {
        height: 30vh;
        position: relative;
        width: 100vw;
        background-color: ghostwhite;
    }

    .create-profile-i {
        margin-top: 5vh;
        display: flex;
        justify-content: center;
        padding-left: 10vw;
        overflow: hidden;
        position: absolute;
    }

    .post-create-text-alignment {
        display: flex;
        margin-top: 15vh;
        font-size: 30px;
        justify-content: center;
        text-justify: center;
        color: #E3614D;
        text-align: center;
    }

    /* ============================== UNIQUE PROPOSITION =============================== */

    .unique-proposition-container {
        height: auto;
        width: 100vw;
        background-color: ghostwhite;
    }

    .u-p-1 {
        height: 25vh;
        width: 60vw;
        margin-left: -60vw;
        transition: margin-left 0.3s;
        overflow: hidden;
    }

    .u-p-bold-text {
        color: whitesmoke;
        font-size: 17px;
        padding: 3vh 2vw 0vh 2vw;
        font-family: MonsterratB;
    }

    .u-p-text {
        color: whitesmoke;
        font-size: 16px;
        padding: 2vh 2vw 2vh 2vw;
        font-family: MonsterratL;
    }

    @media only screen and (max-width: 1200px) {
        .u-p-text {
            font-size: 13px;
        }
    }

    @media only screen and (max-width: 1000px) {
        .u-p-1 {
            width: 100%;
        }
        .u-p-text {
            font-size: 13px;
        }
    }

    .first-el {
        background-color: #E3614D;
    }

    .second-el {
        background-color: #f17865;
    }

    .third-el {
        background-color: #f78d7d;
    }

    /* ============================== FOOTER =============================== */

    .form-container {
        display: grid;
        padding-top: 5vh;
        grid-template-columns: auto auto;
        transition: opacity 0.8s;
    }

    .presignup {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 50vw;
        margin: 5vh 0 0 21vw;
        height: 60px;
        font-size: 45px;
        color: #333;
        font-family: MonsterratB;
        border: 2px solid #E3614D;
        border-radius: 100px;
        padding-left: 1.5vw;
        padding-right: 5vw;
    }

    .presignup::placeholder {
        color: #f78d7d;
    }

    input:focus {
        outline: none;
        border: none;
    }

    .signup-button {
        margin: 5.9vh 0 0 0;
        position: absolute;
        right: 22.5vw;
        height: 50px;
        width: 50px;
        border-radius: 1000px;
        background-color: #E3614D;
        border: none;
        color: white;
        font-size: 18px;
        font-family: MonsterratB;
        cursor: pointer;
    }

    .signup-button:hover {
        background-color: #EB886A;
        color: white;
    }

    /* ============================== FOOTER =============================== */

    .footer-container {
        height: 30vh;
        width: 100vw;
        background-color: ghostwhite;
        position: relative;
    }

    .footer-divider {
        height: 2px;
        width: 90vw;
        margin: 10vh 0 0 5vw;
        background-color: rgba(128, 128, 128, 0.322);
    }

    .footer-copyright-text {
        font-family: MonsterratR;
        color: #333;
        font-size: 22px;
        margin: 8vh 0 0 5vw;
    }

    .footer-grid-socials {
        position: absolute;
        right: 13vw;
        top: 15vh;
        font-family: MonsterratB;
        color: #333;
        font-size: 22px;
    }