@import "animations.css";
@font-face {
    font-family: RobotoL;
    src: url("./../assets/fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: RobotoB;
    src: url("./../assets/fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: RobotoBI;
    src: url("./../assets/fonts/Roboto-BoldItalic.ttf");
}

:root {
    --primary-red: #CD5967;
    --primary-green: #63A088;
    --primary-sandwhite: #F2EEE0;
    --primary-darkblue: #2D3540;
    --primary-lightblue: #364558;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #F2F2F2;
}

h1, h2 {
    margin: 0;
    pad: 0;
}

a {
    color: var(--primary-sandwhite);
    padding: 1vw;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-red);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #333;
}

/* ==================== LOADING CONTAINER ==================== */

.loading-container {
    position: relative;
    margin: 0;
    padding: 0;
    background: var(--primary-darkblue);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 100vh;
}

.loading-container img {
    height: 80px;
    transform-origin: center;
    animation: pulsateLogo 3s infinite;
}

.loading-text {
    color: whitesmoke;
    position: absolute;
    left: 47.5vw;
    font-family: RobotoL;
    font-weight: 300;
    font-size: 20px;
    margin: 3vh 0 0 0;
}

/* ====================== BUTTONS ==========================*/

.button-round-green {
    width: 90px;
    height: 32px;
    background-color: var(--primary-green);
    color: var(--primary-sandwhite);
    border-radius: 5px;
    font-size: 14px;
    font-family: RobotoB;
    text-transform: uppercase;
    border: none;
}

.button-round-white {
    width: 90px;
    height: 32px;
    background-color: var(--primary-sandwhite);
    color: var(--primary-darkblue);
    border-radius: 5px;
    font-size: 14px;
    font-family: RobotoB;
    text-transform: uppercase;
    border: none;
}

.button-round-blue {
    width: 90px;
    height: 32px;
    background-color: var(--primary-lightblue);
    color: var(--primary-sandwhite);
    border-radius: 5px;
    font-size: 14px;
    font-family: RobotoB;
    text-transform: uppercase;
    border: none;
}

/* ==================== MENU =============================== */

.menu {
    height: 4vh;
    width: 100vw;
    padding: 2vh 4vw 2vh 4vw;
    background-color: var(--primary-darkblue);
}

.menu-content {
    height: 4vh;
    width: 60vw;
    margin-left: 20vw;
    background-color: var(--primary-darkblue);
    display: grid;
    grid-template-columns: auto auto auto;
    font-family: RobotoB;
    text-transform: uppercase;
}

.menu-navigation {
    grid-template-columns: auto auto auto auto;
    padding-top: 0.8vh;
}

.header {
    height: 73vh;
    width: 100vw;
    background-image: url("./../assets/cover_home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-content {
    width: 60vw;
    margin-left: 20vw;
}

.header-content h1 {
    color: white;
    text-align: center;
    font-family: RobotoB;
    font-size: 50px;
    padding-top: 10vh;
}

.header-content p {
    color: white;
    text-align: center;
    font-family: RobotoL;
    font-weight: 0;
    font-size: 20px;
    padding-top: 3vh;
}

.header-auth-buttons {
    margin-left: 20vw;
}

.header-auth-buttons button {
    height: 45px;
    width: 120px;
    border-radius: 15px;
    margin: 10px;
}

/* ========== SECOND CONTAINER ============= */

.home-container-second {
    height: 60vh;
    width: 100vw;
    background-color: var(--primary-darkblue);
}

.home-container-second-content h1 {
    color: white;
    text-align: center;
    font-family: RobotoB;
    font-size: 40px;
    padding-top: 10vh;
}

.home-container-second-content p {
    color: white;
    text-align: center;
    font-family: RobotoL;
    font-weight: 0;
    font-size: 20px;
    padding-top: 3vh;
}

.home-container-second-content button {
    height: 45px;
    width: 120px;
    border-radius: 15px;
    margin: 5vh 0 5vh 45vw;
}

/* ============== THIRD CONTAINER ============= */

.home-container-third {
    height: 75vh;
    width: 100vw;
    background-image: url("./../assets/cover_ice.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-container-third-content {
    padding-top: 10vh;
}

.home-container-third-content h1 {
    color: var(--primary-lightblue);
    text-align: center;
    font-family: RobotoB;
    font-size: 50px;
    padding-top: 10vh;
}

.home-container-third-content p {
    color: var(--primary-lightblue);
    text-align: center;
    font-family: RobotoL;
    font-weight: 0;
    font-size: 20px;
    padding-top: 3vh;
}

/*  ================== CONTAINER APP ============== */

.container-app {
    height: 50vh;
    width: 100vw;
    background-image: url("./../assets/baseball.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 55vw 300px;
}

.container-app .container-left {
    width: 30vw;
    height: 40vh;
    margin-top: 5vh;
    margin-left: 25vw;
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
}

.container-app .container-left img {
    margin-left: 40px;
}

.container-app .container-right {
    margin-top: 12vh;
}

.container-app h1 {
    color: white;
    font-size: 50px;
    font-family: RobotoB;
    text-align: center;
}

/* ============== FOOTER =================== */

.footer {
    height: 45vh;
    width: 100vw;
    background-color: var(--primary-darkblue);
}

.footer .social {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px;
    gap: 3vw;
    justify-content: center;
    padding-top: 10vh;
}

.footer-links {
    display: grid;
    grid-template-columns: auto auto auto auto;
    color: #7C7F80;
    font-family: RobotoL;
    gap: 3vw;
    justify-content: center;
    padding-top: 10vh;
}

.footer .copyright {
    width: 100vw;
    display: block;
    color: #7C7F80;
    font-family: RobotoL;
    text-align: center;
}

/* ================= RUELS PAGE ===================== */

.rules-header {
    height: auto;
    width: 100vw;
    padding-top: 10vh;
    background-image: url("./../assets/rules_cover.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: top;
}

.rules-header-content {
    width: 70vw;
    background-color: rgba(255, 255, 255, 0.687);
    margin-left: 15vw;
    margin-bottom: 8vh;
}

.rules-header-content h1 {
    color: var(--primary-darkblue);
    opacity: 1.0;
    text-align: center;
    font-family: RobotoB;
    font-size: 50px;
    padding-top: 1vh;
}

.rules-header-content p {
    color: var(--primary-darkblue);
    text-align: start;
    font-family: RobotoL;
    font-weight: 0;
    font-size: 17px;
    padding: 3vh 0 3vh 1vw;
}

.rules-header-content .light-p {
    font-size: 14px;
    padding-top: 0;;
}