/* GENERAL */

@font-face {
    font-family: Gagalin;
    src: url("/assets/fonts/Gagalin-Regular.otf");
}

@font-face {
    font-family: Ruso;
    src: url("/assets/fonts/RussoOne-Regular.ttf");
}

@font-face {
    font-family: RobotoL;
    src: url("/assets/fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: RobotoR;
    src: url("/assets/fonts/Roboto-Regular.ttf");
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: #37392E;
}

*::-webkit-scrollbar-thumb {
    background: #eb8d45;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    margin-top: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    border-radius: .5rem;
}

.right {
    position: absolute;
    background-image: url("/assets/forum.jpg");
    background-size: 100vmax;
    background-position: center;
    box-shadow: inset 0 0 0 100vmax #2b4162ab;
    color: #ee8434da;
    cursor: pointer;
    border: 5px solid #ee8434;
    transition: 0.3s;
}

.slider {
    width: 68vw;
    overflow: hidden;
    display: inline-block;
    transform: skewX(8deg);
    transition: width 0.4s ease-in-out;
    margin-left: -20vw;
    color: #2b4162;
    pointer-events: none;
    cursor: pointer;
    backface-visibility: hidden;
}

.left {
    overflow: hidden;
    transform: skewX(20deg);
    margin-left: 0px;
    background-image: url("/assets/radio.jpg");
    background-size: 85vmax;
    background-position: left;
    box-shadow: inset 0 0 0 100vmax #ee8434a6;
    pointer-events: auto;
    border: 5px solid #2b4162;
    transition: 0.3s;
}

.slider:hover {
    color: white;
    width: 75vw;
}

.right:hover+.slider {
    width: 60vw;
}

.left:hover {
    box-shadow: inset 0 0 0 100vmax #eb8d4598;
    transition: 0.3s;
}

.right:hover {
    color: white;
    box-shadow: inset 0 0 0 100vmax #314566ab;
    transition: 0.3s;
}

.content-area {
    text-align: left;
    position: absolute;
    top: 40vh;
    font-family: Gagalin;
    font-size: 7vw;
}

.content-area-link {
    text-align: left;
    position: absolute;
    top: 60vh;
    font-family: Gagalin;
    font-size: 2vw;
}

.right-allign {
    right: 20vw;
}

.right-allign-link {
    right: 21vw;
    color: white;
}

.left-allign {
    text-align: left;
    right: 45vw;
    transform: skewX(-27deg);
}

.left-allign-link {
    text-align: left;
    right: 49.5vw;
    transform: skewX(-27deg);
    color: white;
}

.left-allign:hover {
    margin: auto;
    color: #ffffff;
    background-size: 0 100%;
}

.loader-r {
    border-top: 1vw solid #2b4162;
    /* Blue */
    border-radius: 50%;
    width: 7.5vw;
    height: 7.5vw;
    animation: spin 2s linear infinite;
    align-self: center;
}

.loader-f {
    border-top: 1vw solid #eb8d45;
    /* Blue */
    border-radius: 50%;
    width: 7.5vw;
    height: 7.5vw;
    animation: spin 2s linear infinite;
    align-self: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* FORUM STYLES  */

.forum-background {
    overflow-x: hidden;
    background-color: #ebebeb;
    height: 100%;
    width: 100%;
    margin: 0;
}

.forum-head {
    user-select: none;
    margin: 0;
    width: 100vw;
    background-color: rgb(26, 25, 25);
}

.forum-head-navigation {
    display: flex;
    left: 20vw;
    width: 60vw;
    justify-content: space-between;
    margin-bottom: 5vh;
    text-align: center;
    padding: 0;
    margin: 0;
}

.forum-head-navigation-items {
    position: relative;
    right: -30vw;
    color: white;
    font-size: 1.2vw;
    font-family: Ruso;
    user-select: none;
    transition: 0.2s;
    padding: 2.6vh 15px 15px 10px
}

.forum-head-navigation-items:hover {
    color: #eb8d45;
    transition: 0.2s;
    user-select: none;
    cursor: pointer;
}

.forum-head-navigation-items:after {
    display: block;
    content: '';
    border-bottom: solid 3px #eb8d45;
    transform: scaleX(0);
    transition: transform 200ms ease-out;
}

.forum-head-navigation-items:hover:after {
    transform: scaleX(0.1);
}

.logo-icon {
    cursor: pointer;
    margin-top: 2vh;
    margin-left: 4vw;
    margin-right: -2.8vw;
    background-size: 5vh;
    background-repeat: no-repeat;
    background-image: url("/assets/LogoW.png");
    width: 5vh;
    height: 5vh;
}

.logo-text {
    position: absolute;
    left: 7vw;
    width: auto;
    max-width: 0%;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 2.7vh;
    color: #eb8d45;
    font-size: 1.4vw;
    font-family: Gagalin;
    user-select: none;
    cursor: pointer;
    animation: zero-width 4s linear;
}

#logo:hover+.logo-text {
    animation: max-width 4s linear;
}

@keyframes max-width {
    0% {
        max-width: 0;
    }
    10% {
        max-width: 10vw;
    }
}

@keyframes zero-width {
    0% {
        max-width: 10vw;
    }
    10% {
        max-width: 0vw;
    }
}

.header-image-container {
    gap: 100px;
    margin-top: 3vh;
    display: grid;
    grid-template-areas: 'image title' 'image description' 'image meta';
    grid-template-columns: 49vw 50vw;
    grid-template-rows: 40%;
    cursor: pointer;
}

.header-image {
    grid-area: image;
    position: relative;
    left: 4vw;
    background-size: 130vh;
    background-position-x: center;
    background-repeat: no-repeat;
    background-image: url("/assets/record-player.jpg");
    width: 52vw;
    height: 85vh;
    transition: 0.5s;
    font-size: 3vw;
}

.header-image:hover {
    box-shadow: inset 0 0 0 100vmax rgba(255, 255, 255, 0.082);
    transition: 0.5s;
}

.header-image-title {
    overflow: hidden;
    position: absolute;
    top: 10%;
    left: 56%;
    padding: 20vh 1.5vw;
    font-family: Ruso;
    font-size: 3vw;
    grid-area: title;
    color: white;
    cursor: pointer;
}

.header-image-title:after {
    display: block;
    content: '';
    margin-top: 3vh;
    border-bottom: solid 3px #eb8d45;
    width: 70%;
    transition: transform 200ms ease-out;
}

.header-image-description {
    grid-area: description;
    position: absolute;
    right: 1vw;
    top: 55%;
    width: 40%;
    word-wrap: break-word;
    padding: 1vh 1vw;
    float: warp 1px;
    color: white;
    font-size: 1.3vw;
    font-family: RobotoR;
    pointer-events: none;
}

.header-image-meta {
    grid-area: meta;
    position: absolute;
    left: 57%;
    top: 80%;
    word-wrap: break-word;
    padding: 1vh 1vw;
    float: warp 1px;
    color: rgb(201, 201, 201);
    font-size: 1vw;
    font-family: RobotoR;
}

.carousel-button {
    overflow: hidden;
    width: 2vw;
    height: 15vh;
    line-height: 15vh;
    margin: 0;
    position: absolute;
    top: 40%;
    font-size: 3vw;
    background-color: transparent;
    border-width: 0;
    border-radius: 0px;
    color: rgb(31, 31, 31);
    background-color: #eb8d45;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

.carousel-button:hover {
    background-color: rgb(26, 25, 25);
    color: white;
    transition: 0.3s;
}

.scroll-down-container {
    width: 100%;
    height: 4vh;
    background-color: #eb8d45;
    font-size: 5vh;
    color: rgb(20, 20, 20);
    transition: 0.3s;
    cursor: pointer;
}

.scroll-down-container:hover {
    background-color: rgb(26, 25, 25);
    color: #eb8d45;
    transition: 0.3s;
}

.scroll-down-i {
    position: absolute;
    padding-top: 3vh;
    left: 50%;
    bottom: -0.7vh;
}

.main-container {
    width: 100%;
    height: 1500px;
    background-color: rgb(26, 25, 25);
    font-size: 2vw;
}

.album-of-week {
    position: absolute;
    top: 100vh;
    right: 0;
    height: 100vh;
    width: 30vw;
    text-align: center;
    background-color: rgb(26, 25, 25);
    user-select: none;
}

.text-style-strong {
    font-family: RobotoL;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 2vw
}

.text-style-content {
    font-family: RobotoL;
    font-size: 1.5vw
}

.grid-3 {
    margin-top: 3vh;
    display: grid;
    grid-template-areas: 'titlel titler' 'artistl artistr' 'yearl yearr';
    grid-template-rows: 6vh 6vh 6vh;
    line-height: 6vh;
}

.aotw-meta {
    text-align: left;
    padding-left: 1vw;
    background-color: #eb8d45;
    transition: 0.3s;

}

.aotw-meta:hover {
    background-color: rgb(26, 25, 25);
    color: #eb8d45;
    transition: 0.3s;
}

.end-container {
    width: 100vw;
    height: 10vh;
    background-color: #eb8d45;
    line-height: 8vh;
}

.end-logo-text {
    position: absolute;
    font-size: 3vh;
    left: 45.5vw;
    font-family: Gagalin;
    pointer-events: none;
}

.end-logo-year {
    position: absolute;
    font-size: 2.3vh;
    height: 2vh;
    margin-top: 2.8vh;
    left: 47.5vw;
    font-family: Gagalin;
    pointer-events: none;
    cursor: pointer;
}

.icons {
    position: absolute;
    margin-top: 2.4vh;
    transition: 0.3s;
    cursor: pointer;
}

.icons:hover {
    fill: white;
    transition: 0.3s;
}